<h1>Hello Paxsafers</h1>
<% @apartments.each do |apartment| %>
	<%= apartment.name %><br />
	<%= apartment.rate %><br />
	<%= apartment.address %><br />
	<%= apartment.description %><br /><br /><br />
<% end %>